$yellow:#4bb5f3;
$black:#edf1ed;

@mixin margenes ($top, $bottom){

     margin-top: $top;
     margin-bottom:$bottom ;
}

.jumbotron{
    background-color:$yellow;
    color:$black;
    //margin-top: 50px;
    @include margenes(10px, 10px);

}